<!DOCTYPE html>
<html lang="en">
<head>
    <head th:replace="fragments:: head"></head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="fragments :: page-header"></div>

<div align="center">
<h1 style="color:red">Book Reservation </h1>

    <form name='Rental Booking' method="post">
        <ul>

            <li><label for="resLocation">Pickup Location:</label></li>
            <li>
                <select type= "text" name="branchID">
                    <option value=""> -- </option>
                    <option th:each="location : ${LocationsKey}"
                            th:value="${location.id}"
                            th:utext="${location.city}"/>
                </select>
            </li>
            <li><label for="startDate">Start Date:</label></li>
            <li><input type="text" name="startDate"  size="12" /></li>
            <li><label for="endDate">End Date:</label></li>
            <li><input type="text" name="endDate" size="12" /></li>
            <li><label for="vehicleSelected">Car Selected:</label></li>
            <li><select  name="vehicleType">
                <option value="sedan">Sedan</option>
                <option value="suvs">SUV</option>
                <option value="vans">Van</option>
                <option value="trucks">Trucks</option>
                <option value="none" selected>None</option>

            </select></li>


            <br>
            <li><input type="submit" name="confirmBooking" value="Confirm Booking" /></li>
        </ul>
    </form>


<!--<img src ="https://tse3.mm.bing.net/th?id=OIP.U-V_ytYpxjJpt3gl7cOfmwHaGn&pid=Api&P=0&w=192&h=172" height="400" width="600" align="middle" ></img> -->
</div>
</body>
</html>