<!DOCTYPE html>
<html lang="en">
<head>
    <head th:replace="fragments:: head"></head>
    <meta charset="UTF-8">
    <title>Admin Home Page</title>
</head>
<body>
<h1>Administration Home Page </h1>
<div th:replace="fragments :: page-header-admin"></div>
<p>This is a page for the Admin user.</p>

<p>The following are the administrative functionality that can be performed on this app</p>
<ol>
    <li> <a href="/car/addCar">Add/Create a vehicle</a></li>
    <p>This let's the admin add car</p>
    <li><a href="/car/carInventory">Car Inventory</a></li>
    <p>This let's the admin modify and deleter cars and also list cars in the inventory</p>
    <li><a href="/location/addLocation">Add a location</a></li>
    <p>This let's the admin add a rental location to the website</p>
    <li><a href="/location/listLocations">Locations List</a></li>
    <p>This let's the admin modify and delete Locations and also list locations in the website</p>
    <li><a href="/user/list">Display user list</a></li>
    <p>Admin has the capability here to list all users, modify/update users and delete users </p>
</ol>



</body>
</html>