<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head th:fragment="head">

    <link th:href="@{/CarReservationApp.css}" rel="stylesheet" />

</head>

<body>
    <div th:fragment="page-header">
        <h2>
            <a href="/login">Login</a>
            <a href="/user/register">Register</a>
            <span><a href="/logout">Logout</a></span>

        </h2>


    </div>
    <div th:fragment="page-header-admin">
        <h2>

            <span><a href="/admin">Admin</a></span>
            <span><a href="/logout">Logout</a></span>
        </h2>


    </div>



</body>
</html>