<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head th:fragment="head">

    <link th:href="@{/CarReservationApp.css}" rel="stylesheet" />

</head>

<body>
    <div th:fragment="page-header">
        <h2>
            <a href="/login">Login</a>
            <a href="/user/register">Register</a>

        </h2>


    </div>
    <div th:fragment="page-header-admin">
        <h2>

            <a href="/user/list">Users list</a>
            <a href="/admin/carInventory">Car Inventory</a>
            <a href="/admin/addCar">Add Car</a>
            <span>Logout</span>
        </h2>


    </div>


</body>
</html>