<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <head th:replace="fragments:: head"></head>
    <meta charset="UTF-8">
    <title>Car Inventory</title>
</head>
<body>


<div th:replace="fragments :: page-header-admin"></div>
<h1>List of Locations </h1>
<p>The following are the current list of locations.</p>
<table  >
    <thead>
    <tr>
        <th>id</th>
        <th>Address</th>
        <th>City</th>
        <th>State</th>
        <th>Zipcode</th>
        <th>Country</th>

    </tr>
    </thead>

    <tr th:each="l:${locationsKey}" >
        <td th:text ="${l.id}"></td>
        <td th:text ="${l.address}"></td>
        <td th:text ="${l.city}"></td>
        <td th:text ="${l.state}"></td>
        <td th:text ="${l.zipcode}"></td>
        <td th:text ="${l.country}"></td>
        <td>
            <a th:href="@{/location/modify(id=${l.id})}">Modify</a>
        </td>
        <td>
            <a th:href="@{/location/delete(id=${l.id})}">Delete</a>
        </td>

    </tr>



</table>

</body>

</html>