<!DOCTYPE html>
<html lang="en">
<head>
    <head th:replace="fragments:: head"></head>
    <meta charset="UTF-8">
    <title>Registered Users List</title>

</head>
<body>
<div th:replace="fragments :: page-header"></div>
<h1>User Information </h1>
<p>The following are the list of registered users.</p>
<table  >
    <thead>
    <tr>

        <th>User Id</th>
        <th>User Name</th>
        <th>Address</th>
    </tr>
    </thead>

    <tr th:each="c:${userskey}" >
        <td th:text ="${c.userid}"></td>
        <td th:text ="${c.username}"></td>
        <td th:text ="${c.address}"></td>
    </tr>

</table>



</body>
</html>