<!DOCTYPE html>
<html lang="en">
<head>
    <head th:replace="fragments:: head"></head>
    <meta charset="UTF-8">
    <title>Registered Users List</title>

</head>
<body>
<div th:replace="fragments :: page-header"></div>
<h1>User Information </h1>
<p>The following are the list of registered users.</p>
<table  >
    <thead>
    <tr>

        <th>User Id</th>
        <th>First Name</th>
        <th>Email</th>
        <th>Modify</th>
        <th>Delete</th>
    </tr>
    </thead>

    <tr th:each="c:${userskey}" >
        <td th:text ="${c.userid}"></td>
        <td th:text ="${c.fname}"></td>
        <td th:text ="${c.email}"></td>
        <td>
            <a th:href="@{/user/modify(userid=${c.userid})}">Modify</a>
        </td>
        <td>
            <a th:href="@{/user/delete(userid=${c.userid})}">Delete</a>
        </td>
    </tr>

</table>



</body>
</html>